@model TrashCollector.Models.EmployeeViewModel
@{
    ViewBag.Title = "SelectPickup";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>SelectPickup</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>@Model.Employee.FirstName</h4>
        <div class="form-group">

        </div>
    </div>
}